---
dependencies:
  # 1. Python-Support f체r Docker (wichtig f체r Ansible)
  - role: lib_pip
    vars:
      pip_install_packages:
        - name: docker

  # 2. Die Docker Engine Installation (Profi-Modus)
  - role: lib_docker
    vars:
      # Hier nutzen wir sp채ter deine zentrale User-Liste
      docker_users: "{{ nova_admin_users | map(attribute='name') | list }}"
      docker_compose_version: "v2.29.1"
      # Deine Daemon Config 체bernehmen wir hier direkt:
      docker_daemon_options:
        log-driver: "json-file"
        log-opts:
          max-size: "10m"
          max-file: "3"
        storage-driver: "overlay2"
        live-restore: true
        userland-proxy: false
